In [1]:
# importing pandas module
import pandas as pd

# loading dataset
data = pd.read_csv('IRIS.csv')

# data heading
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### selecting data using [] operator

In [2]:
# selecting species column
x = data['species']
y = data[['species']]

# printing the type
print(type(x))
print(type(y))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [3]:
# selecting multiple columns
data[['petal_length', 'petal_width']]

     petal_length  petal_width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [9]:
# Select the last 5 rows
print(data.iloc[-6:-1])

     sepal_length  sepal_width  petal_length  petal_width         species
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

In [12]:
# Select multiple rows and columns by index position
print(data.iloc[[0,1,3], [0,2])

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
3           4.6           1.5

In [14]:
# Select the first 5 rows where target_names is setos
print(data.loc[data['species'] == 'Iris-setosa'].head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [21]:
# Select a five row by label
print(data.loc[0:5])

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [24]:
# Select multiple rows and columns by label
print(data.loc[[1,2,3,4], ['sepal_length', 'petal_length']])

   sepal_length  petal_length
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4

In [26]:
# selecting specific width of sepal
data[data['sepal_width'] > 3]

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[67 rows x 5 columns]

In [32]:
# multiple conditions
data[(data['sepal_width'] > 3) & (data['sepal_width'] < 3.2)]

     sepal_length  sepal_width  petal_length  petal_width          species
3             4.6          3.1           1.5          0.2      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
34            4.9          3.1           1.5          0.1      Iris-setosa
37            4.9          3.1           1.5          0.1      Iris-setosa
52            6.9          3.1           4.9          1.5  Iris-versicolor
65            6.7          3.1           4.4          1.4  Iris-versicolor
86            6.7          3.1           4.7          1.5  Iris-versicolor
137           6.4          3.1           5.5          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica

In [34]:
# query method
data.query("sepal_width > 3")

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[67 rows x 5 columns]

In [36]:
# multiple columns
data.query("sepal_width > 3 and sepal_width < 3.2")

     sepal_length  sepal_width  petal_length  petal_width          species
3             4.6          3.1           1.5          0.2      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
34            4.9          3.1           1.5          0.1      Iris-setosa
37            4.9          3.1           1.5          0.1      Iris-setosa
52            6.9          3.1           4.9          1.5  Iris-versicolor
65            6.7          3.1           4.4          1.4  Iris-versicolor
86            6.7          3.1           4.7          1.5  Iris-versicolor
137           6.4          3.1           5.5          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica